.sugar{
    height: 100px;
}

.Heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Type{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Weight{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Height{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Ability{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Generate{
    border-radius: 50px;
    position: fixed;
    left: 10%;
    top: 100px;
    cursor: pointer;
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1200px-Pok%C3%A9_Ball_icon.svg.png);
    background-size: 100px;
    border-color: red;
    text-align: center;
}
.content{
    
    border-radius: 50px;
    height: 325px;
    width: 300px;
    background:linear-gradient(to left,red,white);
    position: relative;
    top: 100%;
    left: 50%;
    padding: 5px;

}
body{
    background: linear-gradient(to left,pink,white);
}
@media (max-width: 307px) {
    #Generate{
        padding: 45px;
        background-position: 1px;
        background-size: 91px;
    }

    .content{
        height: 290px;
        width: 250px;
    }


}